body {
    
    background-color: ;

}

p {
    margin: ;
}

header,nav,main,footer {
    width:6;
    margin: ;
}

header {
    width:;

    background-image: url("");
    background-repeat: ;
    background-position-y: ;
    background-position-x: ;

    /*
    background-image: url("pics/bg.jpg") ; 
    background-position: center;
    background-repeat: repeat-x;
    */

    margin-top: ;
    background-color:; 
    height: ;
}

/* -- -- HEADER -- -- */

header h4 {
    margin: ;
    color: ;
    text-align: ;
}

/* -- LOGGA -- */

.GG  {
    background-image: ;
    background-size:;
    background-repeat: ;
    background-position-x: ;
    
    padding:;
    margin:;
    color: ;
    text-align: ;
    font-size: ;
    height: ;
    width: ;
    margin:;
}

.GG img:hover {opacity:0.75;}

.GG p {position:relative; top: 
    ; margin: ; padding: ;}

/*  ---  ---  ---  NAVIGERING   ---   ---   --- */

nav {
    background-color: ;
    height: ;

    padding-bottom: ;
    padding-top:;
    border: ;
    border-top-left-radius: ;
    border-top-right-radius: ;
}

nav h4 {
    margin-top:;
    margin-bottom:;
    margin-left: ;
}

/* ---      GLOBALNAV     --- */

#globalnav {
    border: ;
    margin-bottom:;
    text-align: ;
    background-color: ;
    list-style: ;
    padding: ;
}

#globalnav li {
    margin:;
    display:;
    background-color: ;
    
}

#globalnav a {
    padding-left: ;
    padding-right:;
    font-size: ;
}

#globalnav a:link, #globalnav a:visited {
    text-decoration: ;
    color:;
}

#globalnav a:hover {
    text-decoration: underline overline;
    background-color: ;
    color:;
}

#globalnav a:active {
    background-color: ;
    color:;
}

#thisPageGlobal {background-color:; font-style:;}
#thisPageGlobal:before {content:">"}

/* ---      LOCALNAV     --- */

#localnav {
    border: ;
    margin-bottom:;
    margin-top: ;
    text-align: ;
    background-color: ;
    list-style: ;
    padding-left: ;
}

#localnav li {
    margin:;
    display:;
    background-color: ;
    
}

#localnav a {
    padding-left: ;
    padding-right:
    font-size: ;
}

#localnav a:link, #localnav a:visited {
    text-decoration: ;
    color:;
}

#localnav a:hover {
    font-style: ;
    text-decoration: ;
    background-color: ;
    color:;
}

#localnav a:active {
    background-color:;
    color:;
}

#thisPageLocal {background-color:darkgoldenrod; :;}
#thisPageLocal:before {content:">"}

/* -End NAVIGERING- */
/* -- -- -- MAIN -- -- -- */

main {
    height: ;
    background-color: ;
    border-left: ;
}

main p {
    padding: ;
}

main:after {
    content:""; display: block; clear: both;
}

/* -- #mainheadline -- */

#mainheadline {
    width: ;
    float:;
    background-color: ;
    border:;
    padding-bottom: ;
}

#mainheadline h4 {
    margin: 2;
    font-size: ;
    text-decoration: ;
}

#mainheadline p {
    margin: ;
    margin-left: ;
    padding:  ;
    max-width: ;
}

/* -- #maincontent -- */

#maincontent {
    
    background-color: ;
    float: ;
    width: ;
}

/* -- #sidebar -- */

#sidebar {
    background-color: ;
    border: ;
    border-radius: ;
    margin-left: ;
    overflow:;
}

/* -- offer -- */

#offer, #tips {
    margin: 10px;
    padding-bottom:;
    text-align: ;
    background-color:;
    border: ;
    box-shadow:;
}

#offer {
    margin-bottom:2px;
    border-top-left-radius: ;
    border-top-right-radius:;
}

#offer img {
    width: ;
}

#offerimg :hover, #offer a:hover {
    opacity: ;
    background-color: ;
    color:;
}

#offer h4 {
    margin-bottom:;
    margin-top:;
    
    font-size:;
    text-decoration:e;
    color:;
}

#offer p {
    padding: ;
}

#offer #oldprice {
    color: ;
    text-decoration: ; 
}

#offer #newprice {
    font-size: ;
    color:;
}

/*-- -- #tips -- -- */

#tips {
    margin-top: 0;
    border-bottom-left-radius: ;
    border-bottom-right-radius:;
}

#tips h4 {
    font-size: ;
    margin: ;
}

#tips figure {
    border: ;
    border-radius: ;
    background-color: ;
    width: ;
}

#tips figure img {
    width: ;
    height: ;
}

#tips figure a, #tips figure p {
    margin:0;
    padding-bottom: 2;
    padding-bottom: ;
    background-color: ;
    text-decoration: u;
    font-size:;
    color: ;
}

#tips figure:hover {
    opacity: ;
}


/* --   --      --      FOOTER      --      --      -- */

footer {
    background-color: ;
    padding-bottom: ;
    border: ;
}

/* -- #footpic -- */

#footpic {
    width: 1;
    
    position: 
}

#footpic img:hover {
    opacity:
}

/* -- #footinfo -- */

#footinfo {
    color:
    text-align: 
}






























































