body{
    color:rgb(0, 0, 0);
    background: #270303;
   
  
   }
   


  



main{
    
  width: 100px;
  height: 100px;
  position: center;

 


}

footer{

}


section{

}

nav{

}

h1 {


}


header{


}

h2{
    text-align: center;
     
}

.gitarr3{
  text-align: right;       
  background-image: url(gitarr3background.png);     
  position:relative;
 
}

  










































