body{
   background-image: url("musicfestival.png");
   background-size: fixed;
   height: 2000px;
   background-color: black;
   
}

style{
 background-color: rebeccapurple;
 color: rebeccapurple;
}




p{
   color: black;
    text-align: right;
    text-align: top;
 }
 
 .center {
   position: absolute; 
   top: 15px;
   right: 15px;
   
   }
 

 
 .topright{
    position: absolute;
 top: 8px;
 right: 16px;
 font-size: 18px;
 color: black;
 text-align: right;
} 



.navbar ul{
 list-style-type: none;
overflow: hidden;
padding: 0px;
margin: 0px;

}

.navbar a{
color: black;
text-decoration: none;
padding: 15px;
display: block;
text-align: end;
}

.navbar a:hover{
float:left;

}





body {
   background-color: rebeccapurple;
   color:rebeccapurple;
   }
   
   p{
     color: black;
     
   }
   
   .center {
      position: absolute;
     top: 8px;
     right: 100px;
     font-size: 18px;
   
   }
   
   .topright{
   position: absolute;
   top: 8px;
   right: 16px;
   font-size: 18px;
   color: black;
   }
   
   .topright{
      position: absolute;
   top: 8px;
   right: 16px;
   font-size: 18px;
   color: black
   

   }






























