body{
   background-image: url("musicfestival.png");
   background-size: fixed;
   height: 2000px;
   background-color: black;

}

style{
 background-color: rebeccapurple;
 color: rebeccapurple;
}

  










































